.vertex {
    -fx-fill: #ffffff;
    -fx-stroke: #333333;
    -fx-stroke-width: 2;
}

.vertex-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}

.vertex-selected {
    -fx-stroke: blue;
}

.vertex-label-selected {
    -fx-text-fill: blue;
}

.preview-line {
    -fx-stroke: RED;
    -fx-stroke-width: 1;
    -fx-opacity: 0.65;
}

.graph-line {
    -fx-stroke-width: 2;
}

.edge-weight-field {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 4px;

    -fx-border-color: rgba(80, 80, 80, 0.35);
    -fx-border-width: 1px;
    -fx-border-radius: 4px;

    -fx-text-fill: #444444;
    -fx-font-size: 15px;

    -fx-padding: 2px 5px;
}

.edge-weight-field:focused {
    -fx-border-color: rgba(80, 80, 80, 0.55);
    -fx-background-color: rgba(255, 255, 255, 0.95);
}

.weight-text-label {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 2px 6px;
    -fx-background-radius: 4px;
}

.weight-text-err-label {
    -fx-text-fill: #d9534f;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.weight-view{
    -fx-background-color: red;
}
.edge-view {
    -fx-background-color: rgba(0, 150, 255, 0.2);
    -fx-border-color: #2196F3;
    -fx-border-width: 1;
}
/*.interaction-blocker {*/
/*    -fx-background-color: pink;*/
/*}*/