#leftPanel{
    -fx-background-color: lightPink;
}

#rightContainer{
    -fx-background-color: lightBlue;
}

#graphPane{
    -fx-background-color: lightGray;
}

#topContainer{
    -fx-background-color: lightGreen;
}

#botContainer{
    -fx-background-color: lightYellow;
}
